<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
		<add name="StudentDB_Connection" connectionString="Data Source=DESKTOP-02B6TN1\MSSQLSERVER2017; Initial Catalog=StudentDB; User ID=sa;Password=Rahul2481"/>
	</connectionStrings>
</configuration>