USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 2020-10-22 5:07:27 PM ******/
CREATE DATABASE [StudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER2017\MSSQL\DATA\StudentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER2017\MSSQL\DATA\StudentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[Student_Info]    Script Date: 2020-10-22 5:07:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Info](
	[StudentNumber] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Student_Info] PRIMARY KEY CLUSTERED 
(
	[StudentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Student_Info] ([StudentNumber], [FirstName], [LastName], [PhoneNumber], [Email]) VALUES (1111111, N'Mary', N'Borwn', N'5141111111', N'mary@yahoo.com')
INSERT [dbo].[Student_Info] ([StudentNumber], [FirstName], [LastName], [PhoneNumber], [Email]) VALUES (2222222, N'Richard', N'Brown', N'5142222222', N'richard@gmail.com')
INSERT [dbo].[Student_Info] ([StudentNumber], [FirstName], [LastName], [PhoneNumber], [Email]) VALUES (4444444, N'Abbot ', N'John', N'5143333333', N'john@gmail.com')
GO
USE [master]
GO
